<ul class="nav">
  <%# add navigation links to this file %>
  <li><%= link_to 'History', page_path('about') %></li>
  <li><%= link_to 'Group', page_path('group') %></li>
  <li><%= link_to 'Friends', page_path('friends') %></li>
  <li><%= link_to 'Invite', page_path('invite') %></li>
</ul>