<!--<div class="row">-->
  <!--<div class="col-xs-4 col-sm-2">-->
    <!--<p>Add New Bill</p>-->
  <!--</div>-->

  <!--<div class="col-xs-4 col-sm-5">-->
    <!--<p>Add New Bill</p>-->
  <!--</div>-->

  <!--<div class="clearfix visible-xs"></div>-->

  <!--<div class="col-xs-4 col-sm-5">-->
    <!--<p>Add New Bill</p>-->
  <!--</div>-->
<!--</div>-->