<!--<div class="row">-->
  <!--<div class="col-xs-12 col-sm-6 col-md-8">-->
    <!--<%#= render 'home/left_menu' %>-->
  <!--</div>-->
  <!--<div class="col-xs-6 col-md-4">-->
    <!--<%#= render 'home/center_content' %>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-xs-6 col-sm-4">-->
    <!--<%#= render 'home/left_menu' %>-->
  <!--</div>-->
  <!--<div class="col-xs-6 col-sm-4">-->
    <!--<%#= render 'home/left_menu' %>-->
  <!--</div>-->

  <!--<div class="clearfix visible-xs"></div>-->
  <!--<div class="col-xs-6 col-sm-4">-->
    <!--<%#= render 'home/center_content' %>-->
  <!--</div>-->
<!--</div>-->


<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <%= render 'home/top_content' %>
  </div>
</div>

<div class="row">
  <!--<div class="col-xs-4 col-sm-2">-->
    <!--<%#= render 'home/left_menu' %>-->
  <!--</div>-->

  <div class="col-xs-6 col-sm-5">
    <%= render 'home/center_content' %>
  </div>

  <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-5">
    <%= render 'home/right_content' %>
  </div>
</div>